             <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Tip</h4>
                <button type="button" class="close" ng-click="closeModal()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" ng-init = "test">
                    <div class="container">
                                <form ng-submit="addNewTip()" id = "tipform">
                                    <div class="form-group row">
                                        <label>Tip Name (Required) </label>
                                        <div class = 'input-group'>
                                            <input type = "text" class="form-control" placeholder = 'Enter tip name' ng-model = "newTip.name" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Description (Required) </label>
                                        <div class ='input-group'>
                                            <input type = "text"  class="form-control" placeholder = 'Enter tip description' ng-model = "newTip.description" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Type (Required) </label>
                                        <div ng-dropdown-multiselect="3" options="tipTypeList" selected-model="selectedType" extra-settings="singleSelectDropDown" required></div>
                                    </div>
                                    <div class="form-group row" ng-show = "selectedType[0].id == buildingProfID">
                                        <label>Subtype </label>
                                        <div ng-dropdown-multiselect="4" options="tipSubtypeList" selected-model="selectedSubtype" extra-settings="singleSelectDropDown"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Minimum Age  (Required) </label>
                                        <div class ='input-group'>
                                            <input type = "number"  class="form-control" placeholder = 'Enter minimum age' ng-model = "newTip.minAge" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Maximum Age   (Required) </label>
                                        <div class ='input-group'>
                                            <input type = "number"  class="form-control" placeholder = 'Enter maximum age' ng-model = "newTip.maxAge" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Applicable Locations  (Required)  </label>
                                            <div ng-dropdown-multiselect="" options="stateList" selected-model="selectedStates" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Applicable Income Brackets  (Required)  </label>
                                            <div ng-dropdown-multiselect="1" options="incomeBracketList" selected-model="selectedIncomeBrackets" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Applicable Genders   (Required) </label>
                                            <div ng-dropdown-multiselect="2" options="genderList" selected-model="selectedGenders" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Tip Website (Required)</label>
                                            <div class ='input-group'>
                                                <input type = "text"  class="form-control" placeholder = 'Enter website url' ng-model = "newTipWebsite" required>
                                            </div>
                                            <br>
                                    </div>
                                </form>
                    </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <input type= "submit" value="Add Tip" class="btn btn-primary" form='tipform'>
                <button type="button" class="btn btn-danger" ng-click="closeModal()">Close</button>
            </div>
