             <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Tip</h4>
                <button type="button" class="close" ng-click="closeModal()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" ng-init = "populateForm()">
                    <div class="container">
                                <form ng-submit="updateTip()" id = "updatetipform">
                                    <div class="form-group row">
                                        <label>Tip Name (Required) </label>
                                        <div class = 'input-group' >
                                            <input type = "text" class="form-control" placeholder = 'Enter tip name' ng-model = "updatedName" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Description (Required) </label>
                                        <div class ='input-group' >
                                            <input type = "text"  class="form-control" placeholder = 'Enter tip description' ng-model = "updatedDescription" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Type (Required) </label>
                                        <div ng-dropdown-multiselect="2" options="tipTypeList" selected-model="updatedSelectedType" extra-settings="singleSelectDropDown" required></div>
                                    </div>
                                    <div class="form-group row" ng-show = "updatedSelectedType[0].id == buildingProfID">
                                        <label>Subtype </label>
                                        <div ng-dropdown-multiselect="4" options="tipSubtypeList" selected-model="updatedSelectedSubtype" extra-settings="singleSelectDropDown"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Minimum Age  (Required) </label>
                                        <div class ='input-group'>
                                            <input type = "text"  class="form-control" placeholder = 'Enter minimum age' ng-model = "updatedMinAge" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Maximum Age  (Required) </label>
                                        <div class ='input-group'>
                                            <input type = "text"  class="form-control" placeholder = 'Enter maximum age' ng-model = "updatedMaxAge" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Applicable Locations  (Required)  </label>
                                            <div ng-dropdown-multiselect="" options="stateList" selected-model="updatedSelectedStates" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Applicable Income Brackets  (Required)  </label>
                                            <div ng-dropdown-multiselect="1" options="incomeBracketList" selected-model="updatedSelectedIncomeBrackets" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Applicable Genders </label>
                                            <div ng-dropdown-multiselect="0" options="genderList" selected-model="updatedSelectedGenders" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Tip Website (Required)</label>
                                            <div class ='input-group'>
                                                <input type = "text"  class="form-control" placeholder = 'Enter website url' ng-model = "updatedTipWebsite">
                                            </div>
                                            
                                            <br>
                                    </div>
                                </form>
                    </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <input type= "submit" value="Update" class="btn btn-primary" form='updatetipform'>
                <button type="button" class="btn btn-danger" ng-click="closeModal()">Close</button>
            </div>
