             <!-- Modal Header -->
             <div class="modal-header">
                <h4 class="modal-title">Update Recommendation</h4>
                <button type="button" class="close" ng-click="closeModal()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                    <div class="container" ng-init = "populateForm()">
                                <form ng-submit="updateRecommendation()" id = "recform">
                                    <div class="form-group row">
                                        <label>Recommendation Name</label>
                                        <div class = 'input-group'>
                                            <input type = "text" class="form-control" placeholder = 'Enter recommendation name' ng-model = "updatedName" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Description</label>
                                        <div class ='input-group'>
                                            <input type = "text"  class="form-control" placeholder = 'Enter recommendation description' ng-model = "updatedDescription" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Image URL</label>
                                        <div class ='input-group'>
                                            <input type = "text"  class="form-control" placeholder = 'Enter image URL' ng-model = "updatedImageURL">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Cost</label>
                                        <div class ='input-group'>
                                            <input type = "text"  class="form-control" placeholder = 'Enter cost' ng-model = "updatedCost">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Type</label>
                                        <div class ='input-group'>
                                            <input type = "text"  class="form-control" placeholder = 'Enter type' ng-model = "updatedType">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Locations (if applicable) </label>
                                            <div ng-dropdown-multiselect="" options="stateList" selected-model="updatedSelectedStates" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Income Bracket (if applicable) </label>
                                            <div ng-dropdown-multiselect="1" options="incomeBracketList" selected-model="updatedSelectedIncomeBrackets" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                            <label>Gender (if applicable) </label>
                                            <div ng-dropdown-multiselect="2" options="genderList" selected-model="updatedSelectedGenders" extra-settings="dropDownSettings"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label>Room Types (if applicable) </label>
                                        <div ng-dropdown-multiselect="3" options="roomTypeList" selected-model="updatedSelectedRoomTypes" extra-settings="dropDownSettings"></div>
                                </div>
                                <div class="form-group row">
                                        <label>Ages (if applicable) </label>
                                        <div ng-dropdown-multiselect="4" options="ageList" selected-model="updatedSelectedAges" extra-settings="dropDownSettings"></div>
                                </div>
                                    <div class="form-group row">
                                            <label>Website 1</label>
                                            <div class ='input-group'>
                                                <input type = "text"  class="form-control" placeholder = 'Enter website name' ng-model = "updatedRecWebsites[0]['label']" required>
                                                <input type = "text"  class="form-control" placeholder = 'Enter website url' ng-model = "updatedRecWebsites[0]['url']" required>
                                            </div>
                                            <br>
                    
                                            <label>Website 2</label>
                                            <div class ='input-group'>
                                                <input type = "text"  class="form-control" placeholder = 'Enter website name' ng-model = "updatedRecWebsites[1]['label']">
                                                <input type = "text"  class="form-control" placeholder = 'Enter website url' ng-model = "updatedRecWebsites[1]['url']">
                                            </div>
                                            <br>
                                    </div>
                                </form>
                    </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <input type= "submit" value="Update Recommendation" class="btn btn-primary" form='recform'>
                <button type="button" class="btn btn-danger" ng-click="closeModal()">Close</button>
            </div>
